.gradle
/build/

/Q2/build/*
/Q2/bin/*
/Q3/build/*
/Q3/bin/*
/Q4/build/*
/Q4/bin/*

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
